*.iml
*.log*
*.pyc
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*~
.cache
.DS_STORE
.grunt
.idea
.module-cache
.vscode
__benchmarks__
_SpecRunner.html
build/
chrome-user-data
coverage/
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
node_modules
remote-repo/
scripts/flow/*/.flowconfig
test/the-files-to-test.generated.js